{% extends 'base.html' %}

{% block title %}{{ produto.nome }}{% endblock %}

{% block content %}
    <div class="card mb-4">
        <div class="card-header">
            <h2>{{ produto.nome }}</h2>
        </div>
        <div class="card-body">
            <p><strong>Quantidade em Estoque:</strong> <h2>{{ produto.quantidade }}</h2></p>
            <p><strong>Descrição:</strong> {{ produto.descricao|default:"Nenhuma descrição." }}</p>
            <p><strong>Preço de Compra:</strong> R$ {{ produto.preco_compra|floatformat:2 }}</p>
            <p><strong>Preço de Venda:</strong> R$ {{ produto.preco_venda|floatformat:2 }}</p>
        </div>
        <div class="card-footer">
            <a href="{% url 'core:editar_produto' produto.pk %}" class="btn btn-warning">Editar Produto</a>
            <a href="{% url 'core:adicionar_movimento' produto.pk %}" class="btn btn-primary">Registrar Movimentação</a>
            <a href="{% url 'core:lista_produtos' %}" class="btn btn-secondary">Voltar para a Lista</a>
        </div>
    </div>

    <div class="card">
        <div class="card-header">
            <h3>Histórico de Movimentações</h3>
        </div>
        <div class="card-body">
            <table class="table">
                <thead>
                    <tr>
                        <th>Data</th>
                        <th>Tipo</th>
                        <th>Quantidade</th>
                        <th>Usuário</th>
                        <th>Observação</th>
                    </tr>
                </thead>
                <tbody>
                    {% for movimento in movimentos %}
                    <tr>
                        <td>{{ movimento.timestamp|date:"d/m/Y H:i" }}</td>
                        <td>
                            {% if movimento.tipo_movimento == 'E' %}
                                <span class="badge bg-success">{{ movimento.get_tipo_movimento_display }}</span>
                            {% else %}
                                <span class="badge bg-danger">{{ movimento.get_tipo_movimento_display }}</span>
                            {% endif %}
                        </td>
                        <td>{{ movimento.quantidade }}</td>
                        <td>{{ movimento.usuario.username|default:"-" }}</td>
                        <td>{{ movimento.observacao|default:"-" }}</td>
                    </tr>
                    {% empty %}
                    <tr>
                        <td colspan="5" class="text-center">Nenhuma movimentação registrada.</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}